*~
/build
/build_mac
/doxygen
*.tsv
img_features/*
/sim_imgs
*.so
*kdev4*
*.pyc
*.out
*.log
*.swp
*.zip
*.nfs*
*.ipynb
.idea
.vscode
.DS_Store
tensorboard_logs
*.t7
*/checkpoints
output*/*
*.tar
/tasks/R2R-pano/data/*.json*
/tasks/R2R-pano/results/*.json*
/tasks/R2R-pano/results/*/*.json*
test/*
pybind11/*
slurm/
